.footer-text {
  font-size: 14px;
  line-height: 20px;
  color: #797979;
  white-space: nowrap;
  padding: 10px 30px 40px 285px;
  text-align: right;
}
/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width: 1399px) {
  .footer-text {
    padding: 0px 20px 20px 275px;
  }
}
@media (max-width: 1199px) {
  .footer-text {
    padding-left: 20px;
  }
}
