<nav class="sidebar">
    <a href="#" title="Logo" class="logo">
        <img src="./assets/images/logo.svg" alt="Logo" />
        <span>Company</span>
    </a>
    <ul class="navbar">
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="/dashboard" title="Dashboard" routerLinkActive="active"
                class="nav-link" (click)="removeMenu()" data-aos="fade-right">
                <i>
                    <img src="./assets/images/dashboard-default-icon.svg" alt="Dashboard" />
                    <img src="./assets/images/dashboard-active-icon.svg" alt="Dashboard" />
                </i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="/innerpage" title="Customers" routerLinkActive="active"
                class="nav-link" (click)="removeMenu()" data-aos="fade-right" data-aos-delay="200">
                <i>
                    <img src="./assets/images/customers-default-icon.svg" alt="Customers" />
                    <img src="./assets/images/customers-active-icon.svg" alt="Customers" />
                </i>
                <span class="nav-label">Customers</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Message " routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="300">
                <i>
                    <img src="./assets/images/message-default-icon.svg" alt="Message " />
                    <img src="./assets/images/message-active-icon.svg" alt="Message " />
                </i>
                <span class="nav-label">Message</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Docs" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="400">
                <i>
                    <img src="./assets/images/docs-default-icon.svg" alt="Docs" />
                    <img src="./assets/images/docs-active-icon.svg" alt="Docs" />
                </i>
                <span class="nav-label">Docs</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Help" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="500">
                <i>
                    <img src="./assets/images/help-default-icon.svg" alt="Help" />
                    <img src="./assets/images/help-active-icon.svg" alt="Help" />
                </i>
                <span class="nav-label">Help</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" routerLink="#" title="Setting" routerLinkActive="active" class="nav-link"
                (click)="removeMenu()" data-aos="fade-right" data-aos-delay="700">
                <i>
                    <img src="./assets/images/setting-default-icon.svg" alt="Setting" />
                    <img src="./assets/images/setting-active-icon.svg" alt="Setting" />
                </i>
                <span class="nav-label">Setting</span>
            </a>
        </li>
    </ul>
</nav>